@model ClientesProductos.Models.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h4>Eliminar Cliente</h4>

<div>
    <h3>Esta Seguro Desea Borrar Este Cliente?</h3>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.ImageUrl)*@
            @Html.Label("Imagen")
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.ImageUrl)*@
            @{
                var imagePath = "/imagenes/" + Model.ImageUrl;
            }
            <img src="@imagePath" class="img-rounded" alt="No IMG" width="100" height="70" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movil)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver Al Listado", "Index", "Clientes", null, new { @class = "btn btn-success" })
    </div>
    }
</div>
